{% extends "base.html" %}
{% from "_formhelper.html" import render_field %}

{% block page_content %}
<div class="row">
    <form action="" method="post">
    <div style="margin-left:auto;margin-right:auto;width:450px;">
        <div class="panel panel-default">
             <div class="panel-heading">
                <h5>ミニブログ ログイン</h5>
             </div>
             <div class="panel-body">
                 <dl>
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ form.hidden_tag() }}
                 </dl>
                <button type="submit" class="btn btn-info">ログイン</button>
             </div>
        </div>
    </div><!-- ./centering-->
</div><!-- ./row-->
{% endblock %}
