{% extends "base.html" %}
{% block page_content %}
<div class="row">
    <form action="" method="post">
    <div style="margin-left:auto;margin-right:auto;width:900px;">
        <div class="panel panel-default">
             <div class="panel-heading">
                <h5>
                    {{ post.title }}
                    {% if 'auth.user' in session %}
                        <a href="{{ url_for('.show_post',post_id=post.id) }}" class="btn btn-default">編集</a>
                    {% endif %}
                </h5>
             </div>
             <div class="panel-body">
                {{ post.content | safe}}
            </div>
        </div>
    </div><!-- ./centering-->
</div><!-- ./row-->
{% endblock %}
